.container {
    display: flex;
    flex-direction: column;
    max-width: 423px;
    align-items: center;
    flex-grow: 1;
}

.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 16 px;
    margin-right: 16 px;
}

p{
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    font-size: 100px;
}